<mat-card>Ingrese los datos del paciente</mat-card>

<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombre" minlength="3" required formControlName="nombre">  
        <small *ngIf="f.nombre.errors?.required && f.nombre.touched" class="invalido">Nombre es requerido</small>                     
        <small *ngIf="f.nombre.errors?.minlength && f.nombre.touched" class="invalido">El campo debe ser mayor a 3 caracteres</small> 
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Marca" required formControlName="marca"> 
        <small *ngIf="f.marca.errors?.required && f.nombre.touched" class="invalido">La marca es requerido</small>         
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/producto' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
