<mat-toolbar>Registro de Venta</mat-toolbar>

<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="Selecciona Persona" [(value)]="idPersonaSeleccionada">
            <mat-option *ngFor="let p of (persona$ | async)" [value]="p.idPersona">
                {{ p.nombres }} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
            [(ngModel)]="fechaSeleccionada" (dateChange)="cambieFecha($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Importe" [(ngModel)]="importe">
    </mat-form-field>

    <!--<mat-form-field>
        <input matInput placeholder="Seleccione Venta" [(ngModel)]="venta">
    </mat-form-field>-->
    <mat-form-field>
        <mat-select placeholder="Selecciona Producto" [(value)]="idProductoSeleccionado">
            <mat-option *ngFor="let m of (producto$ | async)" [value]="m.idProducto">
                {{ m.nombre }} {{m.marca}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Seleccione Cantidad" [(ngModel)]="cantidad">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="aceptar()">Registrar</button>
</div>
