<router-outlet></router-outlet>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar producto">
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idProducto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.marca}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-button color="primary" [routerLink]="['edicion', row.idProducto]">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="accent" (click)="eliminar(row.idProducto)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/producto/nuevo">
    <mat-icon>create</mat-icon>
  </button>
